body {
  background-color: lightsalmon;
}
.App {
  background-position: center;
  background-size: cover;
  margin-top: 0px;
  height: 800px;
}

.icon {
  margin-top: 160px;
  color: green;
}
.animeback {
  background-color: #3a4350;
  margin-top: 50px;
}
.loginback {
  background-color: white;
}

.text {
  margin-top: 10px;
  text-decoration: none;
  font-size: 7px;
  color: white;
  word-spacing: 1pt;
}
.text2 {
  padding: 12px;
  font-family: "Montserrat", sans-serif;
  font-size: 8.5px;
  color: #d4d4d4;
  line-height: 14pt;
}

.version {
  text-align: left;
  margin-top: 120px;
  font-size: 8px;
  color: white;
}

.align {
  margin-top: 12px;
  text-align: right;
  font-size: 10px;
  color: #383232;
}

.button {
  background: transparent;
  border: 1px solid rgb(71, 71, 71);
  border-radius: 2px;
  margin-top: 12px;
  color: #474646;
  font-size: 9px;
}

.formtext {
  font-family: "Heebo", sans-serif;
  font-weight: 800;
  font-size: 20px;
}

.form-control::placeholder {
  font-size: 12px;
}

.LoginPage {
  background: white;
  margin-top: 50px;
  padding-bottom: 30px;
  border-radius: 6px;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 38px;
  height: 38px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  justify-content: center;
  display: flex;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #383232;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

.form-check-label {
  margin-top: 3px;
  font-size: 11px;
}


.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  

}


.sidenav p {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: white;
  display: block;
}

.sidenav p:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.loginpage {
  background: white;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-top: 40px;
  border-radius: 6px;
}

.forgot-button{

  cursor: pointer;
    color: white;
    background-color: rgb(58, 67, 80);
    width: 26%;
    font-size: 12px;
    border: none;
    height: 28px;
    border-radius: 5px;

}

.forgot-button1{
  background-color:#3a4350;
  border-color:#3a4350;
}